body {
    margin: 0;
}
.header {
    background-color: #1A1A1A;
    margin-top: 10px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    padding: 16px, 12px, 16px;
    height: 56px;
}

.search-bar {
    width: fit-content;
    height: 32px;
    border-radius: 8px;
    border: 1px;
    padding: 8px;
    gap: 6px;
}
.header-middle-section {
    flex: 1;
    max-width: 850px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
}